body {
    padding: 40px 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.entete {
    background-color: rgb(210, 240, 236);
    text-align: center;
    padding: 20px;

}

.adresse {
    text-align: right;
    padding: 20px;
}

h2 {
    color: rgb(67, 117, 224);
    background-color: rgb(210, 240, 236);
}

h3 {
    display: inline;
}